<% if (success && success.length > 0) { %>
  <div class="flash flash-success">
    <%= success %>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="flash flash-error">
    <%= error %>
  </div>
<% } %>
